<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Music Classification</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    body {background-color: aliceblue;
      background-image: url('https://images.ctfassets.net/bdyhigkzupmv/6lySzcy7qcIN1tf81Qkus/5b5ac73daeaf61f9057c0b0dd8447a31/hero-guitar-outro.jpg');}
    h {color: blue; font-weight: bold}
    p {color: dodgerblue;}
    p1 {color: aqua; font-weight: bold}
  </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Music Classification</h1>
        <p>Hello! Welcome to the interactive database for music classification with different machine learing models. Here you can select what you want as a model to classify the data on how music is stored.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>Learning Model.</h5>
          <select name= model method="GET" action="/">
            {% for model in models%}
            <option value = "{{model}}" SELECTED>{{model}}</option>"
            {% endfor %}
          </select>
        </div>
    </div>
  </div>
</body>

</html>
